.contact_box {
  width: 20vw;
  height: 80vh;
  padding-top: 2%;
  margin-left: 10px;
  padding-left: 2%;
  background-color: #e9ecef;
  border-radius: 10px;
}

.conversation-box {
  display: flex;
  margin: 30px;
  height: 100vh;
}


.chat-window {
  width: 80vw;
}

.contact-label{
  margin-block: 3px;
}

.newchat-container {
  margin-top: 10px;
}
