.contact_box {
  width: 20vw;
  height: 80vh;
  padding-top: 1%;
  margin-left: 10px;
  padding-inline: auto;
  background-color: #e9ecef;
  border-radius: 10px;
}

.conversation-box {
  display: flex;
  margin: 30px;
  height: 100vh;
}


.chat-window {
  width: 80vw;
}

.contact-label{
  margin-block: 3px;
  display: flex;
  justify-content: center;
}

.center-item {
  display: flex;
  justify-content: center;
}

.left-align-items {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  align-items: flex-start;
  border: 2px solid #FE9602;
  width: 95vw;
}

#message_content {
  width: 90%;
}

#new_chatroom {
  display: flex;
  justify-content: center;
  margin-inline: 40px;
}

.new-contact-search {
  margin-block-start: 20px;
}
