.item-description {
  padding-inline:  16px;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.item-description {
  display: flex;
  justify-content: flex-start;
  padding: 10px 18px;
}

.flex-group {
  display: flex;
  width: 100%;
  margin-inline-start: 30px;
  justify-content: space-between;
}

.small-line {
  font-size: small;
  color: #bf4040;
}

.icon-group {
  display: flex;
}

.events-container {
  margin-inline: 20px;
  width: 60%;
  margin: auto;
}

.bookings-container {
  width: 60%;
  margin: auto;
}
