.container {
  flex-direction: column;
  margin-top: 10px;
}

#show-button {
    margin-top: -38px;
    margin-left: -157px;
}
#message-button {
  margin-left: 293px;
  margin-top: 25px;
}

#more {
margin: 0px;
}

#timeslots {
margin: 0px;
}
.section-container {
  display: flex;
  // border: solid;
  // border-color: blue;
  justify-content:space-evenly;
  margin-top: 30px;
  margin-inline: 90px;
  margin-bottom: 19px;
}

.profile-container {
  width: 2845%;
  margin-left: 5px ;
  margin-right: -78px ;
  border: 1px solid rgb(221, 221, 221) ;
  border-radius: 12px ;
  max-width: 434px ;
  padding: 24px ;
  background-color: white;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  color: #544430;
}

.profile-photo {
  margin-bottom: 24px;
}

.profile-text {
  padding-top:20px;
  border-top: 1px solid rgb(221, 221, 221) ;
  border-top-width: 80%;
}

.event-container {
  padding: 25px;
  background-color: white;
  width: 54% !important;
  border: 1px solid rgb(221, 221, 221) ;
  border-radius: 12px ;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.event-top {
  color: #544430;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(221, 221, 221) ;
  border-bottom-width: 80%;
  padding-bottom: 41px;
}

.event-bottom {
  margin-top: 19px;
  display: flex;
  justify-content: space-evenly;
}

.event-group {
  display: flex;
  align-items: center;
  margin-left: -13px;
}

.offer-list {
  margin-inline: 12px;
}

.page-title {
  text-align:center;
  color: #544430;
}

.btn-container {
 margin: 18px;
}

.event {
  margin: 20px;
}

.center {
  margin: auto;
}

h2 p{
  color: #544430;
}

.event-text {
  flex-grow: 1;
  margin-inline: 30px;
}

.timeslot-container {
  margin-block: 10px;
}
