.container {
  flex-direction: column;
  margin-top: 10px;
}
.section-container {
  display: flex;
  // border: solid;
  // border-color: blue;
  justify-content: space-around;
  margin-top: 30px;
  margin-inline: 90px;
}

.profile-container {
    width: 28%;
    margin-left: 5px ;
    margin-right: auto ;
    border: 1px solid rgb(221, 221, 221) ;
    border-radius: 12px ;
    max-width: 308px ;
    padding: 24px ;
}

.profile-photo {
  margin-bottom: 24px;
}

.profile-text {
  padding-top:20px;
  border-top: 1px solid rgb(221, 221, 221) ;
  border-top-width: 80%;
}

.event-container {
  padding: 25px;
  width: 66.6667% !important;
  // border: 1px solid rgb(221, 221, 221) ;
  // border-radius: 12px ;
}

.event-top {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(221, 221, 221) ;
  border-bottom-width: 80%;
  padding-bottom: 20px;
}

.event-bottom {
  margin-top: 20px;
}

.event-group {
  display: flex;
  align-items: center;
}

.offer-list {
  margin-inline: 12px;
}

.carousel-container {
  padding-top: 25px;
}

.page-title {
  text-align:center;
  color: #544430;
}

.btn-container {
 margin: 18px;
}

.event {
  margin: 20px;
}


.center {
  margin: auto;
}

h2 {
  color: #544430;
}

.event-text {
  flex-grow: 1;
  margin-inline: 30px;
}

.timeslot-container {
  margin-block: 10px;
}
