<div class="container">
  <%= simple_form_for(@chatroom) do |f| %>
    <div class="form-body">
    <%= f.input :recepient_id,
      prompt: " Search a user for a new chat! ",
      collection: User.where.not( first_name: @current_user.first_name, last_name: @current_user.last_name),
      label: false
    %>

  </div>

    <div class="btn-inline btn-search-user">
      <%= f.button :submit, "Start new chat",  class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
