.btn-ghost {
  color: #FE9602;
  border: 1px solid #FE9602;
  padding: 7px 18px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#FE9602, #FEB144);
  transition: background 0.3s ease;
  border: 1px solid #FE9602;
}

.btn-gradient:hover {
  background: linear-gradient(#FE9602, #FEB144);
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #FE9602;
  border-color: #FE9602;
}

.btn-bottom-left {
  position: absolute;
  bottom: 8px;
}

.btn-round-white {
  color: #FE9602;
  border-radius: 30px;
  border: 1px solid #FE9602;
}

.btn-contact {
  background-color: white;
  color: #FE9602;
  border-radius: 30px;
  border: 1px solid ;
  margin-top: 22px;
}

.label-round-solid {
  background-color: #FE9602;
  color: white;
  border-radius: 10px;
  border: 1px solid #FE9602;
  margin: 10px;
  text-align: center;
  padding: 6px;
}

.btn-search-user {
  margin-inline: 3px;
}
