.fa-regular.fa-heart{
  position: absolute;
  top: 15px;
  right: 10px;
  height: 10px;
}

.fas.fa-edit {
  padding: 1px;
}

.fa-message {
  padding-top: 3px;
 }

.fa-magnifying-glass {
  padding-top: 3px;
}

.fa-plus {
  padding-top: 3px;
  font-size: large;
  margin-right: 5px;
  color:orangered ;
}

i {
  margin: 10px;
  color: grey;
}

.icon {
  margin: 10px;
}

.fa-bullhorn{
  color: orangered;
}
