#map {
  height: 100%;
  position: sticky;
  top: 0;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.info-window{
  padding: 5px;
}

.map-info-p p {
  margin: 0px;
  margin-bottom: 0.5rem;
}

h6 {
  padding: 4px;
}
