
.tabs-underlined {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #54BAB9;
    width: 80vw;
    margin: auto;
}

.tabs-underlined .tab-underlined {
  color: #54BAB9;
  padding: 8px;
  // margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #54BAB9;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  // border-bottom: 3px solid #54BAB9;
  background-color: #54BAB9;
  color: white;
}
